OPENROUTER_API_KEY=<your-openrouter-api-key>
LANGFUSE_PUBLIC_KEY=pk-lf-<your-openrouter-public-key>
LANGFUSE_SECRET_KEY=sk-lf-<your-openrouter-secret-key>
LANGFUSE_HOST=https://challenges.reply.com/langfuse
TEAM_NAME=<team-name>
DATA_FOLDER=<data-folder-name>